body {
  background-color: #0E0E0E;
  color: #EBE8E0;
  font-size: 1.25rem;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor:crosshair;
  overflow-x: hidden;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: [full-start] 48px [main-start] 1fr [text-start] repeat(10,1fr) [text-end] 1fr [main-end] 48px [full-end];
  grid-gap: 24px;
  width: 100%;
}

.grid--title {
  display: flex;
  grid-column: text / text;
  margin: 2rem 0;
}

.logo {
  max-width: 3rem;
  fill: #EBE8E0;
}

#intro {
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.intro--header {
  display: flex;
  grid-column: text;
}

.intro--bio {
  display: flex;
  grid-column: text;
}

.intro--socialmedia {
  display: flex;
  grid-column: text;
  align-items: center;
}

.intro--socialmedia a {
  margin-left: 1rem;
  padding: 0.25rem;
  border-bottom: 1px solid rgba(235, 232, 224, 0.4);
}

#work {
  width: 100%;
}

.hide {
  display: none;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 6.5rem;
  line-height: 6.75rem;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', serif;
  font-size: 2.2rem;
  line-height: 46px;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #808080;
}

h5 {
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.left {
  text-align: left;
}

p {
  font-family: 'Times New Roman', serif;
  font-weight: normal;
  line-height: 1.625rem;
}

a {
  color: #EBE8E0;
  text-decoration: none;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  background: transparent;

}

a:hover {
  background: #EBE8E0;
  color: #0E0E0E;
  border-radius: 0.15rem;
}
