.card {
  display: flex;
  grid-column: text / text;
  overflow: hidden;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: 12px;
}

.card--img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  grid-column: span 6;
}

.card--img img {
  max-height: 250px;
  min-width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.card--content {
  display: flex;
  margin: 3rem 0;
  flex-direction: column;
  justify-content: center;
  grid-column: span 7;
}

.card--content p {
  margin-top: 1.125rem;
}

.card--header {
  margin: 0;
}

a.card:hover {
  border-radius: 12px;
  border: 1px solid #0E0E0E;
  color: #0E0E0E;
}


@media (max-width: 768px) {
  .card--img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-column: full !important;
  }

  .card {
    display: flex;
    grid-column: text / text;
    overflow: hidden;
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 12px;
  }

  .card--content {
    margin: auto 0;
    grid-column: main !important;
  }
}

@media (max-width: 1280px) {
  .card--img {
    grid-column: span 5;
  }

  /* .card {
    border: 1px solid black;
    border-radius: 12px;
  } */

  .card--content {
    grid-column: span 6;
  }
}
