.footer-links {
  display: flex;
  grid-column: main;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-links h2 {
  margin: 0.25rem;
}

.footer-links a {
  border-bottom: 1px solid transparent;
  margin: 0.5rem;
}

.footer-links a:hover {
  border-bottom: 1px solid #0E0E0E;
}

.footer-links__socialmedia {
  margin-top: 1.5rem;
}

.grid--title__footer {
  grid-column: main;
}

.footer-container {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #0E0E0E;
}

.footer-wrapup {
  justify-content: center;
  display: flex;
  text-align: center;
  grid-column: text;
}
