.nav-container {
  position: sticky;
  top: 0;
  background-color: #EEE;
  border-bottom: 1px solid #0E0E0E;
}


.nav {
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  padding: 0.25rem;
  text-decoration: none;
  font-weight: lighter;
}

.nav-content {
  padding: 16px 0px;
  grid-column: main;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin-left: 1rem;
  padding: 0.25rem;
}

.logo {
  min-width: 3rem;
  max-width: 3rem;
  height: 100%;
  fill: #0E0E0E;
  display: flex;
}
